@font-face {
    font-family: PiratesBay;
    src: url(../fonts/PiratesBay.ttf);
}

body {
    margin: 0;
    font-family: PiratesBay;
    background-color: black;
}

/* Header styling */
header {
    background-color: rgb(116, 47, 47);
    padding: 25px;
}

header h1 {
    text-align: center;
    color: white;
    margin:0;
}

/* Pirate styling, img + p elements */
#pirate_flex_container {
    padding: 25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(87, 20, 20, 0.4)), url(../images/ship_background.jpg) no-repeat;
    background-size: cover;
}

#details {
    border: 5px solid black;
    padding: 25px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: white;
}

#details p {
    width: 600px;
    font-size: 14px;
}

#details #pirate_talk {
    font-size: 22px;
}

/* Buttons styling */

#deck_background{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../images/deck.jpg) no-repeat;
    background-size: cover;
    border: 5px solid rgb(185, 154, 113);
}

#choice_buttons {
    display: flex;
    margin: 0px 100px 0px 100px;
    justify-content: space-evenly;
    padding: 50px;
}

button {
    border: 5px solid rgb(247, 210, 0);
    border-radius: 10px;
    background-color: rgb(209, 135, 101);
    font-family: PiratesBay;
    font-size:larger;
}

button:hover {
    color: white;
    box-shadow: 3px 3px black;
}

button.play {
    display:flex;
    flex-direction: column;
    padding: 25px 50px;
    justify-content: center;
    align-items: center;
}

button.replay {
    padding: 50px;
    font-size: 24px;
}